APP_ENV=development
APP_PORT=8080

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=jungle_gaming
POSTGRES_USER=jungle
POSTGRES_PASSWORD=jungle

DATABASE_URL=postgres://jungle:jungle@postgres:5432/jungle_gaming?sslmode=disable